@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vh;

}

img {
    width: 150px;
    height: 150px;
}

h1 {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    text-decoration: underline;
}

.form-wrapper {
    width: 420px;
    height: 500px;
    z-index: 1;
    color: white;
    text-align: center;
    border-radius: 10px;
    font-family: 'Calibri';
    padding: 20px 20px 5px;
    backdrop-filter: blur(50px);
    border: 1px solid #ffffff4f;
    box-shadow: 0px 0px 20px 0px #00000070;
}

.form-title {
    font-size: 30px;
}

.field {
    position: relative;
    margin-top: 45px;
}

.field .bi {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: #e3e3e3;
}

.toggle-pass {
    cursor: pointer;
}

form input {
    background-color: transparent;
    border: none;
}

.inp {
    width: 100%;
    color: white;
    font-size: 16px;
    caret-color: white;
    outline: none;
    padding: 0 25px 5px 0;
    border-bottom: 1px solid #ffffff54;
}
.icon {
    color: white;
}
.label {
    position: absolute;
    left: 0px;
    bottom: 5px;
    z-index: -1;
    color: white;
    transition: transform .3s ease-in-out, color .3s ease-in-out, font-size .3s ease-in-out;
}

.inp:focus~label,
.inp:valid~label {
    transform: translateY(-25px);
    font-size: 15px;
    color: white;
}

.action {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: #dddddd;
    user-select: none;
    margin-top: 10px;
}

.action label {
    display: flex;
    gap: 5px;
    cursor: pointer;
}

#save-info {
    cursor: pointer;
}

#login-btn {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.089);
    width: 100%;
    color: white;
    border-radius: 5px;
    margin-top: 40px;
    font-size: 18px;
    font-family: 'Calibri';
    padding: 5px 0;
}

.separator {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.separator::before,
.separator::after {
    content: '';
    background: #0000004f;
    width: 40%;
    height: 1px;
}

.alternative {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-top: 15px;
}

.alternative button {
    border: none;
    font-size: 14px;
    height: 40px;
    width: 40px;
    border-radius: 8px;
    cursor: pointer;
    background: #00000033;
    color: #f0f0f0;
}

#login-btn:hover,
.alternative button:hover {
    opacity: 0.8;
}

.bottom {
    margin-top: 35px;
    font-size: 15px;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.8;
    background-image: url('/foto/RiyanthiSianturi_ITDEL_11.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
